/* <!--LAYOUT CON GRID FLORES DE BACH SECCION UTILIZANDO VARIABLES--> */

.padre .cards{
    width: 90%;
    padding: 1rem 2rem;
    margin: 2rem;
    background-color: #ECE5C7;
    border-radius: 15px;
    justify-content: center;
    flex-wrap: wrap;
}

.card1 .card2{
    padding: 1rem 5rem; 
    justify-content: center;
        p{
            font-family: $parrafo;
            color: rgb(42, 41, 41);
        } 
}

.video{
    display: grid;
    margin-block-start: 3em;
    margin-block-end: 3em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    justify-content: center;
} 

.preguntas{
    display: grid;
    justify-content: center;
}

 /*Extend*/
 .estiloTitulo{
     font-size: 0.5cm;
     color: rgb(42, 38, 38);
     text-decoration: underline;
    
}

.subtitle{
    @extend.estiloTitulo;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

.col-6 h2{
    @extend.estiloTitulo;
    text-transform: uppercase;
    font-size: 0.4cm;
}


    




