/* <!--LAYOUT CON GRID FLORES DE BACH SECCION UTILIZANDO VARIABLES--> */

.padre{
    justify-content: center;
    display: flex;
    grid-gap: 10px;
    .cards{
        width: 7cm;
        padding: 1rem 1rem;
         /*margin: 1.5cm;*/
        background-color: #ECE5C7;
        border-radius: 15px;
        display: flex;
        flex-wrap: wrap;
            .card1, .card2{
                padding: 1rem 3rem;
                width: 5cm;
                height: 3.5cm;
                justify-content: center;
            }
            .subtitle{
                @extend.estiloTitulo;
                font-family: 'Nunito', sans-serif;
                font-size: 10px;
                margin-top: 5px;
            }
            p{
                margin-top: 5px;
                font-family: $parrafo;
                color: rgb(42, 41, 41);
            }
            
     } 
}




.video{
    display: flex;
    margin-block-start: 3em;
    margin-block-end: 3em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    justify-content: center;
} 

.preguntas{
    display: grid;
    justify-content: center;
}

 /*Extend*/
 .estiloTitulo{
     font-size: 0.5cm;
     color: rgb(42, 38, 38);
     text-decoration: underline;
    
}



.col-6 h2{
    @extend.estiloTitulo;
    text-transform: uppercase;
    font-size: 0.4cm;
}


    




