
.imagen{
    display: grid;
    padding: 3rem 17rem;
    justify-content: center;
}

.barraNav{
    grid-area: nav;
    background-color: #EBD8C3;
}

.imagen{
    grid-area: imagen;
}
  
.cuerpoUno{
    grid-area: cuerpoUno;
}
  
.box1{
    grid-area: box1;
}
  
.cuerpoTres{
    grid-area: cuerpoTres;
}
  
.footer{
    grid-area: footer;
}
  
.grilla{
    grid-area: grilla;
}
  
.video{
    grid-area: video;
}

.preguntas{
    grid-area: preguntas;
    
}
  
.padre{
    grid-area: padre;
}

.containerS{
    grid-area: container;
}
.sobremiParrafo{
    grid-area: parrafo;
}
.foto{
    grid-area: foto;
}
.florRoja{
    grid-area: florRoja;
}

.contacto{
    grid-area: contacto;
}
.formu{
    grid-area: formu;
}


@media (min-width:900px){
  .grilla .padre{
        display: grid;
        grid-template-columns: (1fr 1fr 1fr 1fr);
        justify-content:center;
        // grid-row-start: auto;
        grid-column-gap: 5px;
        flex-wrap: wrap;
        grid-template-areas:
        "nav nav nav nav"
        "preguntas preguntas preguntas preguntas"
        "padre padre padre padre"
        "video video video video"
        "footer footer footer footer";
      }
      
}

    
@media (min-width:900px){
    .wrapper{
        grid-template-columns: (0.5fr 4fr 0.5fr);
        grid-row-start: auto;
        justify-content: center;
        grid-template-areas: 
        "nav nav nav"
        ". cuerpoUno ."
        ". imagen ."
        ". cuerpoTres ."
        ". box1 ."
        "footer footer footer"; 
    }
    
}

@media (min-width:900px){
    .cuerpoUno .h5{
        font-size: 1.2rem;
        color: black;
    }
}



@media (min-width:900px){
    .sobreMi{
        display: grid;
        flex-wrap: wrap;
        grid-row-start: auto;
        grid-template-columns: (1fr 1fr 1fr 1fr);
        grid-column-gap: 2px;
        grid-template-areas:
        "nav nav nav nav"
        "foto foto parrafo parrafo"
        "footer footer footer footer";
    }
}

@media (min-width:900px){
    .about{
        display: grid;
        grid-template-columns: (1fr 1fr 1fr 1fr);
        grid-template-areas:
        "nav nav nav nav"
        "florRoja florRoja florRoja florRoja"
        "contacto contacto contacto contacto"
        "formu formu formu formu"
        "footer footer footer footer";
    }
}

/*@media (min-width:650px){
.cards{
    background-color: lightcoral;
    }
}*/

@media (min-width:650px){

    .grilla{
        display: grid;
        grid-template-columns: (1fr 1fr);
        justify-content:center;
        // grid-row-start: auto;
        grid-column-gap: 5px;
        flex-wrap: wrap;
        grid-template-areas:
        "nav nav"
        "preguntas preguntas"
        "padre padre"
        "video video"
        "footer footer";
        
    }
    .cards{
        background-color: $fonColor;
        gap: 16px;
        width: 90%;
    }
}

@media (min-width:650px){
    .sobreMi{
        display: grid;
        grid-row-start: auto;
        grid-template-columns: (1fr 1fr 1fr);
        grid-column-gap: 2px;
        grid-template-areas:
        "nav nav nav"
        "foto parrafo parrafo"
        "footer footer footer";
    }
}

@media (min-width:650px){
    .wrapper{
        display: grid;
        grid-row-start: auto;
        justify-content: center;
        grid-template-columns: (1fr 1fr);
        grid-template-areas: 
        "nav nav"
        "cuerpoUno cuerpoUno"
        "imagen imagen"
        "cuerpoTres cuerpoTres"
        "box1 box1"
        "footer footer";

    }
}



@media (min-width:380px){

    .grilla{
        display: grid;
        grid-template-columns: (1fr);
        justify-content:center;
        // grid-row-start: auto;
        grid-template-areas:
        "nav"
        "preguntas"
        "padre"
        "video"
        "footer";
    }
}

@media (min-width:380px){
    .wrapper{
        display: grid;
        grid-row-start: auto;
        justify-content: center;
        grid-template-columns: (1fr);
        grid-template-areas: 
        "nav"
        "cuerpoUno"
        "imagen"
        "cuerpoTres"
        "box1"
        "footer";
    }
}
@media (min-width:380px){
    .sobreMi{
        display: grid;
        justify-content:center;
        flex-wrap: wrap;
        grid-row-start: auto;
        grid-template-columns: (1fr);
        grid-template-areas:
        "nav"
        "foto"
        "parrafo"
        "footer";
    }
}

@media (min-width:380px){
    .about{
        display: grid;
        grid-template-columns: (1fr);
        grid-template-areas:
        "nav"
        "florRoja"
        "contacto"
        "formu"
        "footer";
    }
}
