

.barraNav{
    grid-area: nav;
    background-color: #EBD8C3;
}
.cuerpoTres{
    grid-area: cuerpoTres;
}
.imagen{
    grid-area: imagen;
}
.imo{
    grid-area: imo;
}
.footer{
    grid-area: footer;
}
  
.grilla{
    grid-area: grilla;
}
  
.video{
    grid-area: video;
}

.preguntas{
    grid-area: preguntas;
    
}
  
.padre{
    grid-area: padre;
}

.sobremiParrafo{
    grid-area: parrafo;
}

.foto{
    grid-area: foto;
}

.florRoja{
    grid-area: florRoja;
}

.contacto{
    grid-area: contacto;
}
.row g-3 needs-validation formu{
    grid-area: formu;
}


@media (min-width:960px){
    .about{
        display: grid;
        grid-template-columns: (1fr 1fr 1fr 1fr);
        grid-template-areas:
        "nav nav nav nav"
        "florRoja florRoja florRoja florRoja"
        "contacto contacto contacto contacto"
        "formu formu formu formu"
        "footer footer footer footer"
        ;
    }
}

@media (min-width:900px){
    .cuerpoUno .h5{
        font-size: 1.2rem;
        color: black;
    }
}


@media (min-width:900px){
    .foto{
        max-width: 6cm;
        max-height: 6cm;
    }
}

 
@media (min-width:650px){
.cards{
    background-color: lightcoral;
    }
}


@media (min-width:680px){
    .sobreMi{
        display: grid;
        grid-template-columns: (1fr 1fr);
        grid-column-gap: 2px;
        grid-template-areas:
        "nav nav"
        "foto foto"
        "parrafo parrafo"
        "footer footer";
    }
}


@media (min-width:576px){
    .sobreMi{
        display: grid;
        justify-content:center;
        grid-template-columns: (1fr);
        grid-template-areas:
        "nav"
        "foto"
        "parrafo"
        "footer";
    }
}

@media (min-width:380px){
    .foto{
        max-width: 3cm;
        max-height: 3cm;
    }
}

@media (min-width:350px){
    .about{
        display: grid;
        grid-template-columns: (1fr);
        grid-template-areas:
        "nav"
        "florRoja"
        "contacto"
        "formu"
        "footer";
    }
}

