* {
  padding: 0;
  margin: 0;
}

.barraNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2cm;
  justify-items: center;
  margin-bottom: 0%;
}

.barraNav ul li {
  display: inline;
  list-style-type: none;
  gap: 2px;
}

.barraNav ul li a {
  text-decoration: none;
  color: #5c5b5b;
  font-size: 23px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  letter-spacing: .6px;
}

.barraNav colibri {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: inline-block;
      -ms-flex-pack: inline-block;
          justify-content: inline-block;
  justify-items: center;
  border-radius: 2px solid whitesmoke;
  height: 3.5rem;
  margin-left: 0.5cm;
}

.footer {
  color: #5c5b5b;
  padding: 16px;
  margin-bottom: 0px;
  height: 150px;
  background-color: #EBD8C3;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  font-size: 13px;
}

/*mapas*/
.btn--facebook {
  background-color: #83c7c3;
}

.btn--whatsapp {
  background-color: #7e9b55;
}

.btn--instagram {
  background-color: #d9b6f7;
}

/* <!--LAYOUT CON GRID FLORES DE BACH SECCION UTILIZANDO VARIABLES--> */
.cards {
  width: 90%;
  padding: 1rem 2rem;
  margin: 2rem;
  background-color: #ECE5C7;
  border-radius: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card1 .card2 {
  padding: 1rem 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card1 .card2 p {
  font-family: "Dosis", sans-serif;
  color: #2a2929;
}

.video {
  display: -ms-grid;
  display: grid;
  -webkit-margin-before: 3em;
          margin-block-start: 3em;
  -webkit-margin-after: 3em;
          margin-block-end: 3em;
  -webkit-margin-start: 40px;
          margin-inline-start: 40px;
  -webkit-margin-end: 40px;
          margin-inline-end: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.preguntas {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*Extend*/
.estiloTitulo, .subtitle, .col-6 h2, .container h2 {
  font-size: 0.5cm;
  color: #2a2626;
  text-decoration: underline;
}

.subtitle {
  font-family: 'Nunito', sans-serif;
  text-align: center;
}

.col-6 h2 {
  text-transform: uppercase;
  font-size: 0.4cm;
}

/* ANIMACION SECCION INDEX UTILIZANDO "&"*/
.box1 {
  padding: 2.5rem 7rem;
  margin: 1rem 6rem;
  background-color: #EBD8C3;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
}

.box1:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
}

.box1 h2 {
  font-size: 1.2rem;
  text-align: center;
  position: center;
  padding: 1rem 2rem;
}

/*ANIMACION SECCION CONTACTO*/
.florRoja {
  margin-top: 40px;
}

.florRoja:hover {
  -webkit-transform: translate(300px);
          transform: translate(300px);
  -webkit-transition: 3s;
  transition: 3s;
}

.imagen {
  display: -ms-grid;
  display: grid;
  padding: 3rem 17rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.barraNav {
  grid-area: nav;
  background-color: #EBD8C3;
}

.imagen {
  grid-area: imagen;
}

.cuerpoUno {
  grid-area: cuerpoUno;
}

.box1 {
  grid-area: box1;
}

.cuerpoTres {
  grid-area: cuerpoTres;
}

.footer {
  grid-area: footer;
}

.grilla {
  grid-area: grilla;
}

.video {
  grid-area: video;
}

.preguntas {
  grid-area: preguntas;
}

.padre {
  grid-area: padre;
}

@media (min-width: 680px) {
  .cards {
    background-color: lightcoral;
  }
}

@media (min-width: 680px) {
  .cuerpoUno .h5 {
    font-size: large;
    color: red;
  }
}

@media (min-width: 900px) {
  .grilla {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-column-gap: 5px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        grid-template-areas: "nav nav nav nav" "preguntas preguntas preguntas preguntas" "padre padre padre padre" "video video video video" "footer footer footer footer";
  }
  .grilla .padre {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .grilla .padre .cards {
    background-color: #F8ECD1;
    gap: 16px;
    width: 90%;
  }
}

@media (min-width: 900px) {
  .wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.5fr 4fr 0.5fr;
        grid-template-columns: 0.5fr 4fr 0.5fr;
        grid-template-areas: "nav nav nav" ". cuerpoUno ." ". imagen ." ". cuerpoTres ." ". box1 ." "footer footer footer";
  }
  .cuerpoUno .h5 {
    font-size: 1.2rem;
    color: black;
  }
}

@media (min-width: 900px) {
  .comercial {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "nav nav" "productos productos" "footer footer";
  }
}

/* selector (puede ser una etiqueta/una clase/ un id) - propiedad - valor*/
/*SECCION SOBRE MI UTILIZANDO VARIABLE*/
.foto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5cm 6cm 0 0;
}

.sobremiParrafo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F8ECD1;
  color: #2c2a2a;
  font-family: "Dosis", sans-serif;
  font-size: 19px;
  padding: 40px;
  margin: 0.5cm 0 0.5cm 0;
  border: 5px solid #EBD8C3;
}

/*SECCION PRODUCTOS*/
.goteroFlor {
  max-width: 5cm;
}

.colibri {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: inline-block;
      -ms-flex-pack: inline-block;
          justify-content: inline-block;
  justify-items: center;
  border-radius: 2px solid whitesmoke;
  height: 3.5rem;
  margin-left: 0.5cm;
}

/*Mixing*/
.container {
  width: 1150px;
  height: 300px;
  background-color: #F8ECD1;
}

.container h2 {
  text-align: center;
  -webkit-text-decoration-color: #edc08c;
          text-decoration-color: #edc08c;
  margin-top: 0.6cm;
}

/* <!--GRID INDEX SECCION--!> */
.display-6 {
  text-align: center;
  margin-top: 0.5cm;
}

.h5 {
  text-align: center;
  margin-top: 0.6cm;
}
/*# sourceMappingURL=style.css.map */