
*{
    padding: 0;
    margin: 0;     
}
/* selector (puede ser una etiqueta/una clase/ un id) - propiedad - valor*/


.cuerpoUno{
    display: flex;
    justify-content: inline-block ;
    align-items: center;
}

.header{
    display: flex;
    justify-content: end; 
    flex-direction: row;
    align-items: center;
    margin-top: 0%;
    height: 3cm;
    border: 3px solid whitesmoke;
    background-color: #EBD8C3;   
}


body{
    background-color: whitesmoke;
    flex-direction: column;
}

nav{
    display: flex;
    align-items: center;
    padding: 1rem;
}

ul{
    display: flex;
}
nav ul li{
    display: inline;
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    color:rgb(92, 91, 91);
    font-size: 32px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 1cm;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items:flex-start;
    position: relative;
    justify-content: inline-block;
    border-radius: 2px solid whitesmoke;
}

.wrapper .cuerpoDos h1{
    color:rgb(92, 91, 91);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding: 4rem;
    margin-top: 2%;
    margin-bottom: 40px;
    border: 5px dotted #E4E9BE;
    justify-content: left;

}

.wrapper .cuerpoTres h2 {
    color:rgb(92, 91, 91);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    padding: 4rem;
    margin-top: 50px;
    margin-bottom: 40px;
    border: 5px dotted #E4E9BE;
    justify-content: center;
    background-color: whitesmoke;
}

.wrapper .cuerpoTres{
    color:rgb(92, 91, 91);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    padding: 4rem;
    margin-top: 50px;
    margin-bottom: 40px;
    border: 5px dotted #E4E9BE;
    justify-content: center;
    background-color: whitesmoke;
}

/*<!--ANIMACION--> */

.cuerpoUno .box1 .consulta{
    width: 50%;
    padding: 4rem;
    margin-top: 50px;
    background-color: #EBD8C3;
    border-radius: 15px;
    justify-content: center;
}

.box1 .consulta:hover{
    transform: scale(2);
    transition-property: all;
    transition-duration: 2s;
}

.sobremiParrafo{
    color: rgb(92, 91, 91);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    padding: 40px;
    margin: 40px 400px 40px 400px;
    border: 5px dotted #E4E9BE;
}


.video{
    display: block;
    margin-block-start: 3em;
    margin-block-end: 3em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    justify-content: center;

}

.florRoja{
   margin-top: 40px;
}

.florRoja:hover{
    transform: translate(300px);
    transition: 3s;
}


.footer{
    color:black;
    padding: 80px;
    margin-top: auto;
    margin-bottom: 0%;
    background-color:#EBD8C3;
    font-style: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100px;
    text-align: center;
}

 /* <!--LAYOUT CON GRID FLORES DE BACH SECCION--> */

.grilla{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr auto auto 1fr;
    grid-template-areas: 
    "header header header header"
    "contenidoFlores contenidoFlores contenidoFlores contenidoFlores"
    "video video video video"
    "footerBach footerBach footerBach footerBach";
} 

.grilla .header{
    grid-area: header;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0%;
    height: 3cm;
    border: 3px solid whitesmoke;
    background-color: #EBD8C3;  
    justify-content: inline-block;
}
    

.grilla .contenidoFlores{
    grid-area: contenidoFlores;
    background-color: beige;
    margin-top: 0;
}

.grilla .video{
    grid-area: video;
}

.grilla .footerBach{
    grid-area: footerBach;
    font-style: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img{
    border-radius: 15px;
    margin-top: 10px;
}

.cards{
    width: 45%;
    padding: 1rem 2rem;
    margin: 2rem;
    background-color: #EBD8C3;
    border-radius: 15px;

}

.cards p{
    font-size: 1rem;
    color: rgb(42, 41, 41);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.padre{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
    height: 500px;
    width: 350px;
    align-items: stretch;
    justify-content: flex-start;
    gap: 1rem;
}


.bodyflores{
    background-color: beige;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-direction: column; 
}

nav ul li{
    list-style: none;

}



/* <!--LAYOUT CON GRID INDEX FULL RESPONSIVE SECCION--> */

.wrapper .header{
    grid-area: header;

}

.wrapper .navbar{
    grid-area: navbar;
}

.wrapper .cuerpoDos{
    grid-area: cuerpoDos;
    
}

.wrapper .cuerpoTres{
    grid-area: cuerpoTres;
}

.cuerpoDos h1{
    display: grid;
    background-color: whitesmoke;
}

.footer{
    grid-area: footer;

}
.wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr auto auto 1fr;
    grid-template-areas: 
    "header header header header"
    "navbar navbar navbar navbar"
    "cuerpo cuerpo cuerpo cuerpo"
    "footer footer footer footer"
    ;
    grid-gap: 0.2rem;
}



@media only screen and (min-width:500px)and (max-width:700){
    .wrapper{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "navbar"
        "cuerpo"
        "footer";

    }

    nav ul li a{
        color: violet;

    }
}

@media only screen and (min-width:700px)and (max-width:900px){
    .wrapper{
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-areas: 
        "header header header"
        "navbar navbar navbar"
        "cuerpo cuerpo cuerpo"
        "footer footer footer"
        ;
    }

    .header .navbar{
        background-color: grey;
    }

    nav ul li a{
        color: pink;

    }

}







    




