@import "variables";
@import "generales";
@import "index";
@import "mediaq";


/* selector (puede ser una etiqueta/una clase/ un id) - propiedad - valor*/

.colibri{
    display: flex;
    align-items: flex-start;
    position: relative;
    justify-content: inline-block;
    border-radius: 2px solid whitesmoke;
    height: 3rem;
}

.sobremiParrafo{
    color: rgb(92, 91, 91);
    background-color: aquamarine;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    padding: 40px;
    margin: 40px 400px 40px 400px;
    border: 5px dotted #E4E9BE;
}
.florRoja{
   margin-top: 40px;
}

.florRoja:hover{
    transform: translate(300px);
    transition: 3s;
}

.footer{
    color:rgb(92, 91, 91);
    padding: 16px;
    margin-bottom: 0px;
    background-color:#EBD8C3;
    font-style: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 200px;
    text-align: center;
}

 /* <!--LAYOUT CON GRID FLORES DE BACH SECCION--> */

/* .grilla{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr auto auto 1fr;
    grid-template-areas: 
    "header header header header"
    "contenidoFlores contenidoFlores contenidoFlores contenidoFlores"
    "video video video video"
    "footer footer footer footer";
}  */

    
/* .grilla .contenidoFlores{
    grid-area: contenidoFlores;
    background-color: beige; 

}

/* .grilla .video{
    grid-area: video;
}
.grilla .footer{
    grid-area: footer;
    font-style: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}
img{
    border-radius: 15px;
    margin-top: 10px;
}
.cards, p{
    font-size: 1rem;
    color: rgb(42, 41, 41);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* .padre{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto; 
    height: 40%;
    width: 100%;
    align-items: stretch;
    justify-content: inline-block;
    gap: 30px;
} */

/* .bodyflores{
    /* background-color: beige; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-direction: column; 
} */

.cards{
    width: 45%;
    padding: 1rem 2rem;
    margin: 2rem;
    background-color: #EBD8C3;
    border-radius: 15px;
    justify-content: center;
} 

.card1 .card2{
    padding: 1rem 2rem;

}

/* <!--LAYOUT CON GRID INDEX FULL RESPONSIVE SECCION--> */


/* .cuerpoUno{
    display: flex;
    justify-content: inline-block;
    align-items: center;
}  */

/* .cuerpoUno .encabezado h1{
    display: grid;
    background-color: whitesmoke;
    color:rgb(92, 91, 91);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    padding: 4rem;
    margin-top: 2%;
    margin-bottom: 40px;
    border: 5px dotted #E4E9BE;
    justify-content: left;

} */

/*<!--ANIMACION--> */

.box1{
    padding: 2.5rem 7rem;
    margin: 1rem 6rem;
    background-color: #EBD8C3;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
}
.box1:hover{
    transform: scale(1.1);
    transition-property: all;
    transition-duration: 2s;
}
.box1 h2{
    font-size: 1.2rem;
    text-align: center;
    position: center;
    padding: 1rem 2rem;
}

.display-6{
    text-align: center;
    }
.h5{
    text-align: center;
}

/* .cuerpoTres .h5{
    color:rgb(92, 91, 91);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    padding: 4rem;
    margin-top: 50px;
    margin-bottom: 40px;
    border: 5px dotted #E4E9BE;
    justify-content: center;
    text-align: center;
    background-color: whitesmoke;
} */

/* .video{
    display: block;
    margin-block-start: 3em;
    margin-block-end: 3em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    justify-content: center;
} */

/* /*<!--INDEX-GRIDS-MEDIAQ--> * */

.imagen{
    display: grid;
    padding: 3rem 17rem;
    justify-content: center;
}

.barraNav{
    grid-area: nav;
    background-color: #EBD8C3;
}

/* .cuerpoUno .cuerpoTres .h5{
    margin-left: 0;
    margin-right: 0; */

/* .wrapper{
    padding: 2.5rem 7rem;
} */

/* .cards{
    grid-area: cards;
} */

/* .cuerpoUno{
    padding: 2.5rem 7rem;
}  */
.imagen {
    grid-area: imagen;
  }
  
  .cuerpoUno {
    grid-area: cuerpoUno;
  }
  
  .box1 {
    grid-area: box1;
  }
  
  .cuerpoTres {
    grid-area: cuerpoTres;
  }
  
  .footer {
    grid-area: footer;
  }
  
  .grilla {
    grid-area: grilla;
  }
  
  .video {
    grid-area: video;
  }
  
  .padre {
    grid-area: padre;
  }
  
  @media (min-width: 680px) {
    .cards {
      background-color: lightcoral;
    }
  }
  
  @media (min-width: 680px) {
    .cuerpoUno .h5 {
      font-size: large;
      color: red;
    }
  }
  
  @media (min-width: 900px) {
    .grilla {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr [4];
      grid-template-columns: repeat(4, 1fr);
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-grid-row: auto;
      grid-row-start: auto;
      gap: 5px;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
          grid-template-areas: "nav nav nav nav"
   "padre padre padre padre"
   "video video video video"
   "footer footer footer footer";
    }
    .padre {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
    .cards {
      background-color: #EBD8C3;
    }
  }
  
  @media (min-width: 900px) {
    .wrapper {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 0.5fr 4fr 0.5fr;
      grid-template-columns: 0.5fr 4fr 0.5fr;
          grid-template-areas: "nav nav nav"
   ". cuerpoUno ."
   ". imagen ."
   ". cuerpoTres ."
   ". box1 ."
   "footer footer footer";
    }
    .cuerpoUno .h5 {
      font-size: 1.2rem;
      color: black;
    }
  }



